@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/respond-to" as *;

.Menu-container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  top: 2rem;
  left: 0.5rem;
  gap: 1rem;
}

.Comanda-total {
  display: flex;
  width: 5rem;
  height: 4.4rem;
  border: 0.1rem solid black;
  background-color: rgba(255, 123, 0, 0.829);
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
}
