@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/respond-to" as *;

.Menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #484852;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.Comanda-total {
  display: flex;
  width: 5rem;
  height: 4.4rem;
  border: 0.1rem solid black;
  background-color: rgba(255, 123, 0, 0.829);
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
}
