@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;

.Card-container {
  display: flex;
  width: 30rem;
  height: 4.4rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;

  .Amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include position(0);
    width: 15%;
    background-color: blue;
    .Amount {
      color: #fff;
      font-size: 2.3rem;
      font-weight: bold;
    }
  }
}