@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;

.Amount_body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2f;
  color: #fff;
  border: 0.3rem solid #fbba27;
  flex-direction: row;

  .Amount__dinamic-container {
    font-size: 2.3rem;
    font-weight: bold;
    .Amount-display {
      padding-bottom: 2rem;
    }

    .Amount-input {
      all: unset;
      width: 15rem;
    }
  }
}
