@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;

.Amount_body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2f;
  color: #fff;
  flex-direction: row;
height: 100%;

  
    .Amount-input {
      all: unset;
      width: 15rem;
      font-size: 2.3rem;
      font-weight: bold;
    }
  
  p{
    margin:0;
  }
}
