@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;

.Amount {
  display: flex;
  align-items: center;
  background-color: blue;
  justify-content: center;
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  height: 100%;

  .Amount__dinamic-container {
    .Amount-display {
      padding: 0.5rem;
    }

    .Amount-input {
      all: unset;
      width: 15rem;
    }
  }
}
