@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;


.Card-color-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    @include position(0);
    width: 15%;
    background-color: blue;
    .Card-color-bar__amount {
      color: #fff;
      font-size: 2.3rem;
      font-weight: bold;
    }
  }