.Docena {
  display: flex;
  border: 0.1rem solid black;
  background-color: orange;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.Mediadocena {
  width: 50%;
  display: flex;
  border: 0.1rem solid black;
  background-color: rgba(255, 123, 0, 0.829);
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
}
