@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/respond-to" as *;

.Card {
  width: 32rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  background-color: #2d2d2f;

  .Card-title {
    height: 25%;
    font-size: x-large;
    font-weight: bold;
    border: 0.3rem solid #fbba27;
    background-color: #2d2d2f;
    color: white;
  }
  .Card-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    .Body__amount-container {
      width: 25%;
      height: 50%;
    }
    .Buttons-group {
      display: flex;
      width: 50%;
    }
    .Cantidad {
      width: 25%;
      color: white;
      font-size: medium;
      border: 0.3rem solid #fbba27;
      background-color: #2d2d2f;
    }
  }
}
