@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/respond-to" as *;

.Card {
  width: 24rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-color: #2d2d2f;

  .Card-title {
    height: 35%;
    font-size: x-large;
    font-weight: bold;
    border: 0.3rem solid #fbba27;
    line-height: 2;
  }
  .Card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    .Body__amount-container {
      width: 100%;
      height: 50%;
    }
    .Buttons-group {
      display: flex;
      width: 100%;
      height: 50%;
    }
  }
}
