@use "/src/styles/mixins/_position.scss" as *;
@use "/src/styles/mixins/size" as *;
@use "/src/styles/mixins/_position.scss" as *;

.Card {
  display: flex;
  width: 45rem;
  height: 4.4rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  flex-direction: row;

  .Card-body {
    display: flex;
    width: 30rem;
    height: 4.4rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    flex-direction: row;
    user-select: none;

    .Card-body__amount {
      display: flex;
      @include position(0);
      align-items: center;
      justify-content: center;
      background-color: blue;
    }

    .Card-body__title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include size(100%);
      color: #000;
      font-size: 2.3rem;
      font-weight: bold;
    }
  }

  .Card-buttons-group {
    display: flex;
  }

  .Pedido {
    display: flex;
    width: 10rem;
    height: 4.4rem;
    border: 0.1rem solid black;
    background-color: rgb(0, 255, 255);
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
