@mixin position($args...) {
  $argsLength: length($args);

  @if (type-of(nth($args, 1)) == "map") {
    @each $prop, $value in nth($args, 1) {
      #{prop}: $value;
    }
  } @else {
    @if ($argsLength == 1) {
      top: nth($args, 1);
      bottom: nth($args, 1);
      left: nth($args, 1);
      right: nth($args, 1);
    } @else if ($argsLength == 2) {
      top: nth($args, 1);
      bottom: nth($args, 1);
      left: nth($args, 2);
      right: nth($args, 2);
    } @else if ($argsLength == 3) {
      top: nth($args, 1);
      bottom: nth($args, 3);
      left: nth($args, 2);
      right: nth($args, 2);
    } @else {
      top: nth($args, 1);
      bottom: nth($args, 3);
      left: nth($args, 4);
      right: nth($args, 2);
    }
  }
}
